.button {
    background-color: #6534FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    background-color: #62bcfa;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.bannerbutton {
    background-color: #6534FF;
    border: none;
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.highlighted {
    background-color: #fccdd3;
}

.body {
    background-color: #dce0e5;
}